* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.div--mainBox{
    height: 100vh;
    width: 100%;
    background-image: 
            linear-gradient(to right,
            rgb(0, 5, 82),  
            rgb(41, 0, 88), 
            rgb(77, 0, 107));
}

.about--content{
    margin-top: 10%;
}

.about--content{
    display: flex;
    flex-direction: column;
}

.subtitle{
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.header--title{
    font-size: 70px;
    color: #7879F1;
    font-weight: bolder;
}

.about--onhome{
    color: white;
    font-weight: lighter;
    margin: auto;
    width: 33%;
}

.solutions {
    position: relative;
    height: 30rem;
    margin-top: 19rem;
    background-color: #0F0B30;
    display: flex;
    align-items: center;
}

.rightArrow, .leftArrow {
    position: absolute;
    top: 8rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3c0c0;
    opacity: 0;
    height: 15rem;
    width: 3rem;
    cursor: pointer;
    transition: 0.2s;
}

.rightArrow:hover, .leftArrow:hover {
    opacity: 0.1;
}

.rightArrow {
    left: 1360px;
}

.leftArrow {
    left: 15px;
}