.card {
    min-width: 15rem;
    max-width: 15rem;
    height: 15rem;
    position: relative;
    margin: 0.5rem 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2rem; 
    padding: 0.1rem; 
    background:linear-gradient(90deg,#24d4e8,#a70165);
    mask: inherit; 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}