* {
    padding: 0;
    margin: 0;
}

.background {
    background-color: rgb(31, 0, 88);
    width: 100vw;
    height: 850px;
    
}

.content  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-content {
    margin-left: 300px;
    height: 750px;
    width: 1000px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.div-cadastro-usuarios {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title{
    border: 2px;
    padding-bottom: 10px;
}

.div-inputs {
    width: 345px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    color: white;
    display: flex;
    font-weight: lighter;
    margin-bottom: 5px;
}

button {
    float: right;
    margin-top: 40px;
    width: 120px;
    height: 35px;
}

.cadastrados-border{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cadastrados-title{
    margin-bottom: 25px;
    font-weight: lighter;
}

.registered-users{
    width: 100%;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid grey;
}

