::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background: rgba(209, 206, 12, 0);
    width: 50px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #a6a4ab;
    border-radius: 5px;
    height: 20px;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/*  HEADER  */
.header{
    height: 10vh;
    background-color:#4c2673;
}

.logo img {
    height: 9vh;
}
.active{
    font-weight: bolder;
    font-size: 20px;
}

.container{
    height: 100%;
    width: 80%;
    margin: auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
}
.navbar li{
    color: white(1, 81, 252);
    height: 100%;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    height: 100%;
}
.navbar li a:hover{
    background-color: rgb(253, 253, 253);
    color: black;
    height: 100%;
}

/*  FIM DO HEADER  */


.img--home{
    width: 100%;
    height: 80vh;
}

.about {
    padding-left: 6%;
    padding-top: 3%; 
    padding-right: 6%;
}

.our-services{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text--div{
    width: 50%;
}

.polygons--img{
    width: 400px;
}

.coworker--img{
    width: 400px;
}

.about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
}

.orcamento{
    width: 100%;
    height: 35vh;
    background-color: rgb(214, 214, 214);
}

.orcamento--content{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento--content h1 {
    margin-top: 30px;
}

.plans {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 130px;
    font-size: 18px;
    height: 35px;
    margin: 30px;
}


 /*  RODAPÉ  */
.footer {
    background-color: #4c2673;
    height: 100px;
    bottom: 0;
    margin-top: 50px;
    display: flex;
}

.footer--image img{
    height: 10vh;
}

/*  FIM DO RODAPÉ  */


/*  FORMULARIOS  */
.formularios {
    display: flex;
    flex-direction: row;
}

.form--login {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.form--cadastro {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

input {
    background-color: #ECECEC;
    border-radius: 30px;
    border: none;
    padding: 8px;
    margin: 4px;
}

/* FIM DOS FORMULÁRIOS */


/* CARDS */

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 190px 210px 50px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: #ECECEC;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;

}

.card-image {
    grid-area: image;
    background: url("https://i.blogs.es/d1a4df/luke-chesser-pjadqetztki-unsplash/1366_2000.jpg");
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-text {
    grid-area: text;
    margin: 25px;

}

.card-text .date {
    color: mediumslateblue;
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 13px;
    font-weight: 300;
    margin: 10px;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rebeccapurple;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    color: white;
}

.card-stats .type {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

.card-stats .value sup {
    font-size: 8px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1)
}

/* FIM DOS CARDS */