
::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background: rgba(209, 206, 12, 0);
    width: 50px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #a6a4ab;
    border-radius: 5px;
    height: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    width: 40px;
    height: 40px;
}
.logo img {
    height: 100%;
}

.header {
    background-color:#4c2673;
}
.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .navbar {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.navbar li {
    display: flex;
    align-items: center;
}
.navbar li a {
    display: block;
    padding: 32px 16px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover {
    background-color: rgb(253, 253, 253);
    color: black;
    height: 100%;
}

/*  FIM DO HEADER  */


.img--home {
    width: 100%;
    height: 80vh;
}

.about-img {
    width: 50%;
}


.our-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text--div{
    width: 50%;
}
.about {
    padding: 32px 0;
}
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
}

.orcamento{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
 .container .container--cards{
     display: flex;
     flex-direction: column;
 }

.plans {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CARDS */

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 190px 210px 50px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: #ECECEC;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;

}
.card-image {
    grid-area: image;
    background: url("https://i.blogs.es/d1a4df/luke-chesser-pjadqetztki-unsplash/1366_2000.jpg");
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .date {
    color: mediumslateblue;
    font-size: 13px;
}
.card-text p {
    color: grey;
    font-size: 13px;
    font-weight: 300;
    margin: 10px;
}
.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}
.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rebeccapurple;
}
.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    color: white;
}
.card-stats .type {
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
}
.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}
.card-stats .border {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.card-stats .value sup {
    font-size: 8px;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1)
}

/* FIM DOS CARDS */


/*  FORMULARIOS  */

.form {
    padding: 32px 0;
}
.form .container {
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
}
.form-cadastro-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
}

.input--form {
    background-color: #ECECEC;
    border-radius: 30px;
    border: none;
    padding: 8px;
    margin: 4px;
}

label {
    margin-left: 2%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.space-right {
    margin-right: 8px;
}
.btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 130px;
    font-size: 18px;
    height: 35px;
    margin-top: 2%;
    margin-left: 1%;
    cursor: pointer;
}
.btn:hover {
    background-color: #4c2673;
    transform: scaleX(105%);
    transition: all ease 0.5s;
}

/* FIM DOS FORMULÁRIOS */

/* ANIMAÇÃO */
[data-transition] {
    opacity: 0;
    transition: all ease-in .9s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

[data-transition="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-transition="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-transition="diagonal"] {
    transform: rotateY(180deg);
}

[data-transition].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* FIM DA ANIMAÇÃO */

/* Footer */

.footer {
    background-image: url(assets/fundoFooter.png);
    background-color: #4c2673;
}
.footer .container {
    display: flex;
    align-items: center;
}
.footer .informs,
.footer .contatos {
    flex: 1;
    padding: 40px 20px;
}

.informs h1 {
    color: white;
}

.informs p {
    margin-top: 16px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.informs .redes {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.informs .redes .caixa {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 10px;
    border-radius: 25px;
}

.flex {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.flex img{
    width: 35px;
}

.flex p {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

.flex p a {
    font-weight: bolder;
    color: white;
}

@media only screen and (max-width: 500px) {
    .about-img {
        width: 100%;
    }
    .text--div {
        width: 100%;
    }
    .about .our-services {
        flex-direction: column-reverse;
    }
    .about .about-us {
        flex-direction: column;
    }
    .cards {
        flex-direction: column;
    }
    .cards .card {
        margin-left: 0;
        margin-right: 0;
    }
    .form .container {
        flex-direction: column-reverse;
    }
    .form .form-cadastro-login {
        padding: 40px 0;
    }
    .footer .container {
        flex-direction: column;
    }
}