*{
    margin: 0;
}

.feedback--background{
    background-color: rgb(0, 5, 82);
    width: 100%;
    height: 700px;
    display: flex;
}

.feedback--container{
    width: 80%;
    height: 80%;
    margin: auto;
    
}

.feedback--cards{
    width: 85%;
    height: 500px;
    display: inline-flex;
    padding-top: 3em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feedback--clientName{
    display: flex;
    
}
